* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.01em;
    color: #454a4d;
}
.header-style {
    /* background: rgb(24, 231, 231); */
    background: #3addda;
    color: #ffffff;
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 24px;
}
.hidden-element {
    display: none;
}
.column-elements {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.space {
    box-sizing: border-box;
    margin: 2px 0 10px 0;
}
.form-style {
    /* background: cadetblue; */
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 20px;
}
input {
    height: 35px;
    width: 300px;
    border: 1px solid #d2d4d6;
    padding: 0 10px;
}
.white-btn {
    box-sizing: border-box;
    padding: 10px 70px;
    background: #ffffff;
    color: #fc885c;
    font-size: 0.9em;
}
.red-btn {
    box-sizing: border-box;
    padding: 10px 70px;
    background: #fc885c;
    color: #ffffff;
    border-radius: 100px;
}